.blog-body{
  background-color: #E5E8E8;
}
.contenedor-principal{
  border: solid 1px;
}

.navbar-inverse{
  background: #17202A;
  min-height: 10%;
  border: none;
}

.logo-img {
  width: 100px;
}
.redes-sociales{
  margin-top: 50px;
  text-align: right;
}
.img-social{
  height: 40px;
  width: 40px;
}
.navbar-musica{
  background-color: #37474F;
}
.img-entrada{
  width: 100%;
}
.row-contenido{
  background-color: #FFFFFF;
}
.row-entrada{
  padding-top: 1rem;
}
.img-comentario{
  width: 1rem;
}
.row-comentario{
  margin-top: 1rem;
}
@media (max-width: 600px) {
  .redes-sociales{
    margin-top: 0px;
    text-align: center;
  }
}
