.contenedor-principal{
  border: solid 1px;
}

.navbar-inverse{
  background: #082D5E;
  min-height: 10%;
  border: none;
}

.logo-img {
  width: 100px;
}
.redes-sociales{
  margin-top: 30px;
}
.img-social{
  height: 40px;
  width: 40px;
}

@media (max-width: 600px) {
  
}
