body{
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../img/fondo2.jpg);
  background-attachment: fixed;
}
.barra-superior{
  min-height: 5rem;
}
.logo{
  width: 128px;
  margin-top: 0.5rem;
  float: left;
}
.barra-nav{
  min-height: 100px;
}
.slogan{
  margin-top: -2rem;
  color: black !important;
}
.iconos-boton{
  margin-top: -1rem;
}
.row-contenido{
  margin-top: 6rem;
}
.botones-lateral{
  margin-left: 1rem;
}
.imagen-galeria{
  max-width: 100%;
}
.entradas, .autor{
  background-color: white;
}
.contenedor{
  min-width: 95%;
}
.escritor-img{
  width: 10rem;
  margin-top: 1rem;
}
.testo{
  padding-left: 1rem;
  padding-right: 1rem;
}
.comentario{
  background: #EAEDED;
}
@media (max-width: 600px) {
  .slogan{
    font-size: 2rem;
  }
  .logo{
    width: 64px;
  }
}
